.card {
  background-image: url("/assets/images/blackandwhite.jpg");
  border-radius: 2px;
  position: relative;
  box-shadow: 0 3px 6px rgb(0, 0, 0), 0 3px 6px #999;
  text-align: left;
}

.card > .img-container:hover {
  overflow: hidden;
  text-align: center;
  background:rgb(253, 253, 253);
}
.card > .img-container > img {
  height: 75%;
  width: 75%;
}

